<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RNDOME PASSWORD GENERATOR</title>
    <link rel="stylesheet" href="../static/css/test.css">
</head>
<body style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);">
<h1 style="text-align: center;font-family: cursive;" class="animate-charcter">RANDOM PASSWORD GENERATOR IN PYTHON</h1>
<br>
<div style="text-align: center;margin-top: 5%;">
    <form action="shortenurl">
        <label for="password_length" style="font-size:25px">Enter size of password:</label>
        <input type="number" name="password_length" value="" required style="height: 30px;width:500px;">
        <br>
        <br>
        
    </form>
</div>

</body>
</html>